.modal {
  position: absolute;
  top: 30%;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: #201f1f80;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;

  .modal-content {
    background-color: white;
    width: 80%;
    height: 80%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}
