.social_menu2 {
  position: fixed;
  right: 3%;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  .social_toggle2 {
    width: 40px;
    height: 35px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: #2ceb7b;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
    font-size: 2em;
    span {
      transition: 0.5s;
    }
  }
  .icon2 {
    position: absolute;
    a {
      opacity: 0;
      width: 40px;
      height: 35px;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
}
.social_menu2.active2 .social_toggle2 span {
  transform: rotate(315deg);
}

.social_fb2:hover {
  transform: rotate(360deg);
  font-size: 23px;
}
.social_menu2.active2 .social_fb2 {
  position: absolute;
  top: -55px;
  background-color: #2055dc;
  transition: 0.3s ease-in-out;
  left: -20px;
  opacity: 1;
}
.social_ln2:hover {
  transform: rotate(360deg);
  font-size: 23px;
}
.social_menu2.active2 .social_ln2 {
  position: absolute;
  top: -38px;
  background-color: #5d89f8;
  transition: 0.5s ease-in-out;
  left: -55px;
  opacity: 1;
}
.social_yt2:hover {
  transform: rotate(360deg);
  font-size: 23px;
}
.social_menu2.active2 .social_yt2 {
  position: absolute;
  top: 20px;
  transition: 1s ease-in-out;
  left: -20px;
  background-color: #fa2727;
  opacity: 1;
}
.social_gt2:hover {
  transform: rotate(360deg);
  font-size: 23px;
}
.social_menu2.active2 .social_gt2 {
  position: absolute;
  background-color: #414348;
  transition: 0.7s ease-in-out;
  left: -55px;
  opacity: 1;
}
