footer {
  background-image: url("../src/assets/earth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.footer {
  display: flex;
  flex: 1;
  color: #c93ece;

  button {
    position: relative;
    height: 35px;
    width: 80px;
    color: #fff;
    font-weight: 500;
    margin: 0.5em 35px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0s ease-out;
    &:active {
      top: 3px;
    }
    &.facebook,
    &.facebook span {
      background: #255cd5;
      border-left: 1px solid #255cd5;
      box-shadow: 0px 5px 0px 0px #233765;
    }

    &.facebook:active {
      box-shadow: 0px 2px 0px 0px #2e4476;
    }
    span {
      position: absolute;
      height: 35px;
      width: 40px;
      top: 0;
      left: -40px;
      font-size: 20px;
      border-radius: 5px 0 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:active span {
      top: -3px;
    }
    &.facebook span {
      border-right: 1px solid #2e4476;
    }
    &.facebook:active span {
      box-shadow: 0px 5px 0px 0px #2e4476, 6px 4px 2px #0000004d;
    }
  }
  .footer__address {
    flex: 1;
    h1 {
      font-weight: 600;
      font-family: "Dancing Script", cursive;
      text-transform: lowercase;
      font-size: 2rem;
    }
  }
  .footer__items {
    display: flex;
    flex: 2;
    // justify-content: space-between;
    div:nth-child(1) {
      flex: 1;
    }
    div:nth-child(2) {
      flex: 3;
    }
    div:nth-child(3) {
      flex: 1;
    }
    .nav__title {
      color: #00e5ff;
      font-weight: 500;
      font-size: 20px;
    }
    .nav__ul {
      color: #abeb33;
      li {
        margin-left: 10px;
        line-height: 2em;
      }
    }
    .nav__ul--extra {
      column-count: 2;
      column-gap: 1em;
    }
  }
}

// @media screen and (min-width: 24.375em) {
//   .legal .legal__links {
//     margin-left: auto;
//   }
// }

// @media screen and (min-width: 40.375em) {
//   .footer__nav > * {
//     flex: 1;
//   }

//   .nav__item--extra {
//     flex-grow: 2;
//   }

//   .footer__addr {
//     flex: 1 0px;
//   }

//   .footer__nav {
//     flex: 2 0px;
//   }
// }
